.container {
  max-width: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
li:hover {
  text-decoration: underline;
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    z-index: 1;
    position:fixed; 
    width:100%; 
    height:60px; 
    background-color:#333333;
  }

  .header a{
    color:white;
    display:inline-block; 
    padding:0px 30px; 
    height:60px;
    line-height:60px; 
    text-align:center;
    text-decoration:none;
    text-transform:uppercase; 
    letter-spacing:2px; 
    font-weight:700;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .header {
    z-index: 1;
    width:100%; 
    height:60px; 
    position: fixed; 
    background-color:#333333;
  }

  .header a{
    color:white;
    display:inline-block; 
    padding:0px 30px; 
    height:60px;
    line-height:60px; 
    text-align:center;
    text-decoration:none;
    text-transform:uppercase; 
    letter-spacing:2px; 
    font-weight:700;
  }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .container {
    width: 80%;
  }
}

img {
  vertical-align: text-bottom;
}
