.container {
  max-width: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li:hover {
  text-decoration: underline;
}
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
}
.docs-example .row, .docs-example.row, .docs-example {
  margin-bottom: 0;
}
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem;
}
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal;
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    z-index: 1;
    position:fixed; 
    width:100%; 
    height:60px; 
    background-color:#333333;
  }

  .docs-section {
    padding: 6rem 0;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .header {
    z-index: 1;
    width:100%; 
    height:60px; 
    position: fixed; 
    background-color:#333333;
  }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .container {
    width: 80%;
  }
}

img {
  vertical-align: text-bottom;
}

.demoAppContainer h2 {
  margin: 50px 0;
  text-align: center;
}
